<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<%= stylesheet_link_tag "project/analytics", :media => "all" %>
	<title><%= @project.name %>/analytics</title>
</head>
<body>
	<div id="map" style="width: auto; height: 100vh;"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<%= javascript_include_tag "analytics.js" %>
	<div id="disasterinfo" class="disasterinfo">
		<table id="disaster_table" class="table table-bordered disaster_table">
			<tr><td><%= @project.show_explain %></td></tr>
		</table>
	</div>
  <script>initToken("<%= @project.token %>", "<%= @project.google_map_api_key %>")</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= @project.google_map_api_key %>&callback=initMap" async defer></script>
</body>
</html>